.first{
    float: left;
    width: 100%;
}

.center{
    padding-top: 40px; 
    padding-bottom: 40px;
    font-weight: 500; 
    font-size: 120px;
    text-align: center;
}

.name{
    margin-top: 300px;
}

#want{
    color: #ffffff; 
    background-color: rgb(0, 184, 0); 
    font-weight: 500; 
    padding-top: 240px;
    padding-bottom: 240px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 120px;
    text-align: center;
    
}

.two{
    float: left;
    width: 40%;
}

.padding{
    float: left;
    width: 6.6%;
}

#add{
    color: #ffffff; 
    background-color: rgb(0, 140, 255); 
    font-weight: 500; 
    padding-top: 120px;
    padding-bottom: 120px;
    font-size: 40px;
    text-align: center;
    
}

#subtract{
    color: #ffffff; 
    background-color: rgb(255, 62, 152); 
    font-weight: 500; 
    padding-top: 120px;
    padding-bottom: 120px;
    font-size: 40px;
    text-align: center;
    
}